# Zepto Sales

## Import Libraries

In [4]:
import pandas as pd

In [5]:
import mysql.connector

## Open Excel File

In [6]:
raw_data = pd.read_excel(r"C:\Users\windows\OneDrive\Desktop\Power Bi\zepto_v1.xlsx")

In [7]:
raw_data.head()

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
0,Fruits & Vegetables,Onion,2500,16,3,2100,1000,False,1
1,Fruits & Vegetables,Tomato Hybrid,4200,16,3,3500,1000,False,1
2,Fruits & Vegetables,Tender Coconut,5100,15,3,4300,58,False,1
3,Fruits & Vegetables,Coriander Leaves,2000,15,3,1700,100,False,100
4,Fruits & Vegetables,Ladies Finger,1400,14,3,1200,250,False,250

In [8]:
raw_data.shape

(3732, 9)

In [9]:
raw_data.dtypes

Category                  object
name                      object
mrp                        int64
discountPercent            int64
availableQuantity          int64
discountedSellingPrice     int64
weightInGms                int64
outOfStock                  bool
quantity                   int64
dtype: object

In [10]:
df = raw_data.copy()

In [11]:
df.head()

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
0,Fruits & Vegetables,Onion,2500,16,3,2100,1000,False,1
1,Fruits & Vegetables,Tomato Hybrid,4200,16,3,3500,1000,False,1
2,Fruits & Vegetables,Tender Coconut,5100,15,3,4300,58,False,1
3,Fruits & Vegetables,Coriander Leaves,2000,15,3,1700,100,False,100
4,Fruits & Vegetables,Ladies Finger,1400,14,3,1200,250,False,250

### Converting Paisa into Rupees

In [12]:
df['discountedSellingPrice'] = df['discountedSellingPrice'] / 100

In [13]:
df['mrp'] = df['mrp'] / 100

### Calculate Revenue, DiscountAmount, StockStatus

In [14]:
df['Revenue'] = df['discountedSellingPrice'] * df['availableQuantity']

In [15]:
df['DiscountAmount'] = df['mrp'] - df['discountedSellingPrice']

### Establish connection

In [16]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="@Nikunj532",
    database="zepto"
)

In [17]:
cursor = conn.cursor()

In [18]:
sql = """
INSERT INTO products 
(Category, Name, MRP, Discount_Percent, Available_Quantity,
 Discounted_Price, Weight_gms, Out_of_Stock, Quantity, 
 Revenue, Discount_Amount)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

### Insert rows from python to MySQL

In [19]:
for i, row in df.iterrows():
        values = (
            row['Category'],              
            row['name'],
            row['mrp'],
            row['discountPercent'],
            row['availableQuantity'],
            row['discountedSellingPrice'],
            row['weightInGms'],
            row['outOfStock'],
            row['quantity'],
            row['Revenue'],
            row['DiscountAmount']
        )
        cursor.execute(sql, values)

In [20]:
conn.commit()

In [21]:
cursor.close()
conn.close()

print("Data inserted successfully")

Data inserted successfully

In [22]:
df.to_excel(r"C:\Users\windows\OneDrive\Desktop\Power Bi\zepto_cleaned1.xlsx", index=False)

In [23]:
df

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity,Revenue,DiscountAmount
0,Fruits & Vegetables,Onion,25.0,16,3,21.0,1000,False,1,63.0,4.0
1,Fruits & Vegetables,Tomato Hybrid,42.0,16,3,35.0,1000,False,1,105.0,7.0
2,Fruits & Vegetables,Tender Coconut,51.0,15,3,43.0,58,False,1,129.0,8.0
3,Fruits & Vegetables,Coriander Leaves,20.0,15,3,17.0,100,False,100,51.0,3.0
4,Fruits & Vegetables,Ladies Finger,14.0,14,3,12.0,250,False,250,36.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
3727,Health & Hygiene,Stayfree Secure Dry Cover Extra Large Sanitary...,42.0,2,0,41.0,406,True,7,0.0,1.0
3728,Health & Hygiene,Dabur Honitus Herbal Cough Remedy Ayurvedic Syrup,105.0,15,0,89.0,100,True,100,0.0,16.0
3729,Health & Hygiene,Whisper Bindazzz Night Sanitary Pads XL Plus,185.0,0,0,185.0,870,True,15,0.0,0.0
3730,Health & Hygiene,Fine Life Cotton Balls,60.0,0,0,60.0,50,True,50,0.0,0.0
3731,Health & Hygiene,Dettol Antiseptic Liquid,30.0,0,0,30.0,60,True,60,0.0,0.0